# Applying ML classification Models on the data

Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import nltk
import re
import string

Importing train data

In [3]:
data = pd.read_csv(r"C:\Users\Lenovo\Documents\jupyter notebook DATA SCIENCE\Unsupervised Lerarning\Mypracise\NLP Project - Covid Tweets Sentiment Analysis\Corona_NLP_train.csv",encoding='latin1')

In [4]:
data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [5]:
data['OriginalTweet'].unique()

array(['@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/iFz9FAn2Pa and https://t.co/xX6ghGFzCC and https://t.co/I2NlzdxNo8',
       'advice Talk to your neighbours family to exchange phone numbers create contact list with phone numbers of neighbours schools employer chemist GP set up online shopping accounts if poss adequate supplies of regular meds but not over order',
       'Coronavirus Australia: Woolworths to give elderly, disabled dedicated shopping hours amid COVID-19 outbreak https://t.co/bInCA9Vp8P',
       ...,
       'You know itÂ\x92s getting tough when @KameronWilds  is rationing toilet paper #coronavirus #toiletpaper @kroger martinsville, help us out!!',
       'Is it wrong that the smell of hand sanitizer is starting to turn me on?\r\r\n\r\r\n#coronavirus #COVID19 #coronavirus',
       "@TartiiCat Well new/used Rift S are going for $700.00 on Amazon rn although the normal market price is usually $400.00 . Prices are really crazy right now for vr headsets since HL Alex was announced and it's only been worse with COVID-19. Up to you whethe"],
      dtype=object)

In [6]:
data.dtypes

UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [7]:
data['OriginalTweet']

0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia: Woolworths to give elde...
3        My food stock is not the only one which is emp...
4        Me, ready to go at supermarket during the #COV...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know itÂs getting tough when @KameronWild...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new/used Rift S are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

### Seperating Tweets from the data for Processing

In [8]:
tweets = data.OriginalTweet
tweets

0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia: Woolworths to give elde...
3        My food stock is not the only one which is emp...
4        Me, ready to go at supermarket during the #COV...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know itÂs getting tough when @KameronWild...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new/used Rift S are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

### Tokenizing the data and then joining them back together

In [9]:
from nltk import TweetTokenizer
tk = TweetTokenizer()
tweets = tweets.apply(lambda x: tk.tokenize(x)).apply(lambda x : ' '.join(x))
tweets

0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia : Woolworths to give eld...
3        My food stock is not the only one which is emp...
4        Me , ready to go at supermarket during the #CO...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know itÂ  s getting tough when @KameronWi...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new / used Rift S are going fo...
Name: OriginalTweet, Length: 41157, dtype: object

### Removing Urls and Html links from tweets

URL Removing

In [10]:
def remove_urls(tweets):
    url_remove = re.compile(r'https?://\S+|www\.\S+')
    return url_remove.sub(r'', tweets)

In [11]:
tweets = tweets.apply(lambda x:remove_urls(x))
tweets

0               @MeNyrbie @Phil_Gahan @Chrisitv  and  and
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia : Woolworths to give eld...
3        My food stock is not the only one which is emp...
4        Me , ready to go at supermarket during the #CO...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know itÂ  s getting tough when @KameronWi...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new / used Rift S are going fo...
Name: OriginalTweet, Length: 41157, dtype: object

HTML Removing

In [12]:
def remove_html(tweets):
    html=re.compile(r'<.*?>')
    return html.sub(r'',tweets)

In [13]:
tweets = tweets.apply(lambda x: remove_html(x))
tweets

0               @MeNyrbie @Phil_Gahan @Chrisitv  and  and
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia : Woolworths to give eld...
3        My food stock is not the only one which is emp...
4        Me , ready to go at supermarket during the #CO...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know itÂ  s getting tough when @KameronWi...
41155    Is it wrong that the smell of hand sanitizer i...
41156    @TartiiCat Well new / used Rift S are going fo...
Name: OriginalTweet, Length: 41157, dtype: object

### Removing Shortwords and Punctuations

Replacing symbols and punctuations from tweets

In [14]:
tweets = tweets.str.replace('[^a-zA-Z]+', ' ')
tweets

0                    MeNyrbie Phil Gahan Chrisitv and and
1        advice Talk to your neighbours family to excha...
2        Coronavirus Australia Woolworths to give elder...
3        My food stock is not the only one which is emp...
4        Me ready to go at supermarket during the COVID...
                               ...
41152    Airline pilots offering to stock supermarket s...
41153    Response to complaint not provided citing COVI...
41154    You know it s getting tough when KameronWilds ...
41155    Is it wrong that the smell of hand sanitizer i...
41156     TartiiCat Well new used Rift S are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

Removing Shortwords

In [15]:
from nltk.tokenize import word_tokenize
#Removing small words from the tweets (words which has length <= 3)
tweets = tweets.apply(lambda x: ' '.join([w for w in word_tokenize(x) if len(w) >= 3]))
tweets

0                     MeNyrbie Phil Gahan Chrisitv and and
1        advice Talk your neighbours family exchange ph...
2        Coronavirus Australia Woolworths give elderly ...
3        food stock not the only one which empty PLEASE...
4        ready supermarket during the COVID outbreak No...
                               ...
41152    Airline pilots offering stock supermarket shel...
41153    Response complaint not provided citing COVID r...
41154    You know getting tough when KameronWilds ratio...
41155    wrong that the smell hand sanitizer starting t...
41156    TartiiCat Well new used Rift are going for Ama...
Name: OriginalTweet, Length: 41157, dtype: object

### Stemming

In [16]:
#Stemming the tweets
from nltk.stem import SnowballStemmer 
stemmer = SnowballStemmer('english')
tweets = tweets.apply(lambda x: [stemmer.stem(i.lower()) for i in tk.tokenize(x)]).apply(lambda x: ' '.join(x))
tweets

0                      menyrbi phil gahan chrisitv and and
1        advic talk your neighbour famili exchang phone...
2        coronavirus australia woolworth give elder dis...
3        food stock not the onli one which empti pleas ...
4        readi supermarket dure the covid outbreak not ...
                               ...
41152    airlin pilot offer stock supermarket shelv loc...
41153    respons complaint not provid cite covid relat ...
41154    you know get tough when kameronwild ration toi...
41155    wrong that the smell hand sanit start turn cor...
41156    tartiicat well new use rift are go for amazon ...
Name: OriginalTweet, Length: 41157, dtype: object

### Removing Stopwords

In [17]:
#Removing stopwords from the tweets
from nltk.corpus import stopwords 
stop = stopwords.words('english')
tweets = tweets.apply(lambda x: [i for i in word_tokenize(x) if i not in stop]).apply(lambda x: ' '.join(x))
tweets

0                              menyrbi phil gahan chrisitv
1        advic talk neighbour famili exchang phone numb...
2        coronavirus australia woolworth give elder dis...
3        food stock onli one empti pleas panic enough f...
4        readi supermarket dure covid outbreak becaus p...
                               ...
41152    airlin pilot offer stock supermarket shelv loc...
41153    respons complaint provid cite covid relat dela...
41154    know get tough kameronwild ration toilet paper...
41155    wrong smell hand sanit start turn coronavirus ...
41156    tartiicat well new use rift go amazon although...
Name: OriginalTweet, Length: 41157, dtype: object

#### Replacing tweets columns from the merged data with processed tweets data

In [18]:
data.OriginalTweet = tweets
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbi phil gahan chrisitv,Neutral
1,3800,48752,UK,16-03-2020,advic talk neighbour famili exchang phone numb...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworth give elder dis...,Positive
3,3802,48754,NaN,16-03-2020,food stock onli one empti pleas panic enough f...,Positive
4,3803,48755,NaN,16-03-2020,readi supermarket dure covid outbreak becaus p...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airlin pilot offer stock supermarket shelv loc...,Neutral
41153,44952,89904,NaN,14-04-2020,respons complaint provid cite covid relat dela...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,know get tough kameronwild ration toilet paper...,Positive
41155,44954,89906,NaN,14-04-2020,wrong smell hand sanit start turn coronavirus ...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new use rift go amazon although...,Negative

### Null value replacing

In [19]:
data.isna().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [20]:
data.dtypes

UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [21]:
data['Location']

0                              London
1                                  UK
2                           Vagabonds
3                                 NaN
4                                 NaN
                     ...
41152    Wellington City, New Zealand
41153                             NaN
41154                             NaN
41155                             NaN
41156    i love you so much || he/him
Name: Location, Length: 41157, dtype: object

In [22]:
data['Location'].fillna(data['Location'].mode()[0],inplace=True)

In [23]:
data.isna().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

#### Mapping sentiment

In [26]:
data['Sentiment'].unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

Lets encode Neutral as 0 , Negative as 1 and Positive as 2

In [27]:
sent_map = {'Neutral':0, 'Positive':2, 'Extremely Negative':1, 'Negative':1,
       'Extremely Positive':2}

In [28]:
data['Sentiment'] = data['Sentiment'].map(sent_map)
data['Sentiment']

0        0
1        2
2        2
3        2
4        1
        ..
41152    0
41153    1
41154    2
41155    0
41156    1
Name: Sentiment, Length: 41157, dtype: int64

In [65]:
data.to_csv(r"C:\Users\Lenovo\Documents\jupyter notebook DATA SCIENCE\Unsupervised Lerarning\Mypracise\NLP Project - Covid Tweets Sentiment Analysis\pdata.csv")

### TFIDF Vectorization

In [25]:
#Vectorizing the tweets using TFIDFVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer(stop_words = stop)
data_vec = vec.fit_transform(tweets)

In [29]:
data_vec

<41157x41274 sparse matrix of type '<class 'numpy.float64'>'
	with 689930 stored elements in Compressed Sparse Row format>

#Seperating label y from the train_data

In [32]:
y = data.Sentiment
y = y.values
y

array([0, 2, 2, ..., 2, 0, 1], dtype=int64)

In [33]:
#Value counts of 0 and 1 to check the imbalance of the data
pd.Series(y).value_counts()

2    18046
1    15398
0     7713
dtype: int64

## Splitting Train and Test data

In [34]:
#Splitting the train data into X_train, y_train (train_set), X_test, y_test (test_set)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_vec, y, test_size = 0.2, stratify = y,random_state=42)

In [35]:
X_train.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

OverSampling the train set to overcome imbalanced data

In [36]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_res, y_res = smote.fit_resample(X_train, y_train)

# Applying Models

## Logistic Regression

In [43]:
import warnings
warnings.filterwarnings("ignore")

In [44]:
from sklearn.linear_model import LogisticRegression 
model = LogisticRegression()
model.fit(X_res, y_res)
y_pred = model.predict(X_test)

In [45]:
y_pred

array([1, 1, 1, ..., 2, 0, 1], dtype=int64)

In [46]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, pos_label='positive',average='micro')

0.7762390670553936

## Random Forest Classifier

In [47]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(X_res, y_res)
y_pred2 = model2.predict(X_test)

In [50]:
f1_score(y_test,y_pred2,pos_label='positive',average='micro')

0.7284985422740524

## XGB Classifier

In [51]:
from xgboost import XGBClassifier
model3 = XGBClassifier()
model3.fit(X_res, y_res)
y_pred3 = model3.predict(X_test)

In [54]:
f1_score(y_test, y_pred3,pos_label='positive',average='micro')

0.7526724975704567

## Support Vector Machine

In [55]:
from sklearn.svm import SVC  
model4= SVC()
model4.fit(X_res,y_res)
y_pred4 = model4.predict(X_test)

In [57]:
f1_score(y_test, y_pred4,pos_label='positive',average='micro')

0.792031098153547

Maximum f1 score is for Support Vector Machine

Saving the SVM model

In [61]:
import joblib

In [63]:
joblib.dump(model4,r'C:\Users\Lenovo\Documents\jupyter notebook DATA SCIENCE\Unsupervised Lerarning\Mypracise\NLP Project - Covid Tweets Sentiment Analysis\svmModel.pkl')

['C:\\Users\\Lenovo\\Documents\\jupyter notebook DATA SCIENCE\\Unsupervised Lerarning\\Mypracise\\NLP Project - Covid Tweets Sentiment Analysis\\svmModel.pkl']

In [64]:
#END